.katakana-chart {
  margin-bottom: 20px;
  background-color: rgba(255, 142, 139, 0.8);
  padding: 63px;
  width: 80%;
  height: 80%;
  margin-left: 7%;
}

.katakana-chart table {
  border-collapse: collapse;
  width: 100%;
}

.katakana-chart th {
  font-weight: bold;
  text-align: center;
  padding: 8px;
  background-color: #eaf2f8;
}

.katakana-chart td {
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

.katakana-chart .title {
  text-align: center;
  margin-top: 0;
}

.katakana-chart .kana {
  font-size: 24px;
  font-weight: bold;
}

.katakana-chart .romaji {
  font-size: 14px;
  color: #888;
}

.chart {
  width: 60%;
  margin: auto;

}

.welcome{
  margin: auto;
  width: 40%;
  padding: 10px 10px;
  text-align: center;
  font-size: large;
}

.title {
  margin: auto;
  width: 25%;
  padding: 10px 10px;
  text-align: center;
  font-size: xxx-large;
}

@media (max-width: 768px) {
  .title {
    font-size: xx-large;
    padding: 10px;
    width: 50%;
  }

  .welcome {
    font-size: medium;
    width: 70%;
  }

  .container {
    width: 100%;
    flex-direction: column;
  }

  .hiragana-chart th{
    padding-left: 0;
    padding-right: 0;
  }

  .hiragana-chart td{
    padding-left: 0;
    padding-right: 0;
  }

}
.front{
  background: url('/assets/images/fuji.png') no-repeat center center fixed;

}
