header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo a {

  font-weight: bold;
  text-decoration: none;
  color: #333;
  padding-left: 30px;
}

.nav a {
  margin-left: 10px;
  text-decoration: none;
  color: rgba(255, 142, 139, 0.8);
  padding-right: 40px;
  font-weight: bold;
  font-size: large;


}

.nav a:hover {
  color: white;
}
