<p class="title">Katakana</p>
<p class="welcome">
  Welcome to the Katakana Learning Page! Katakana is one of the three writing systems used in the Japanese language.
  It consists of characters primarily used for foreign loanwords and onomatopoeic expressions.
  Mastering Katakana is essential for understanding modern Japanese culture, including technology, music, and fashion.
  On this page, you can explore the Katakana chart, practice pronunciation, and test your knowledge with interactive quizzes.
  Whether you're a beginner or looking to refine your skills, let's dive into the world of Katakana together!
</p>

<div class="container">
  <div class="center">
    <button (click)="navigateToKatakanaChart()">Katakana chart</button>
  </div>
  <div class="center">
    <button (click)="navigateToKatakanaQuiz()">Katakana quiz</button>
  </div>
  <div class="center">
    <button (click)="navigateToKatakanaTest()">Katakana test</button>
  </div>
</div>
