.welcome{
  margin: auto;
  width: 40%;
  padding: 10px;
  text-align: justify;
  font-size: large;
}

.katakana-test {
  text-align: center;
  margin: 20px;
}

.question {
  margin-bottom: 20px;
}

.timer {
  margin-top: 20px;
}

.review {
  margin-top: 20px;
}

.review div {
  margin-bottom: 10px;
}

.correct {
  color: green;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.incorrect {
  color: red;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.summary p {
  margin: 5px;
}

@media (max-width: 768px) {
  .title {
    font-size: xx-large;
    padding: 10px;
    width: 50%;
  }

  .welcome {
    font-size: medium;
    width: 70%;
  }

  .container {
    width: 100%;
    flex-direction: column;
  }

}
