.reading-practice {
  margin: 20px auto;
  width: 95%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  height: 85%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 25%;
  text-align: center;
  font-size: 44px;
  margin-top: 20px;
}

.welcome {
  margin: auto;
  width: 40%;
  padding: 10px;
  text-align: center;

}

.passage {
  font-size: 40px;
  padding: 15px;
}

.question {
  margin-bottom: 35px;
  font-size: 20px;
  margin-top: 25px;
  line-height: 55px;

}

.submit-button {
  padding: 10px 20px;
  font-size: large;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-size: 25px;
  padding: 25px;
}

.answer {
  margin: auto;
  font-weight: bold;
  font-size: 20px;

}

.correct {
  color: green;
  padding: 25px;
}

.incorrect {
  color: red;
  padding: 25px;
}

.previous-button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: large;
  background-color: #2196F3;
  color: white;
  border: none;
  cursor: pointer;
}

.next-button {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
  background-color: #2196F3;
  color: white;
  border: none;
  cursor: pointer;

}

@media (max-width: 768px) {
  .title {
    font-size: xx-large;
    padding: 10px;
    width: 50%;
  }

  .welcome {
    font-size: medium;
    width: 70%;
  }

  .container {
    width: 100%;
    flex-direction: column;
  }

  .reading-practice {
    width: 80%;
  }

}

.example{
margin: auto;
  width: 80%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;

  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

