.multiple-choice {
  text-align: center;
  margin: 20px;
}

.character{
  font-size: 30px;
}

.question {
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.option {
  width: 150px;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.option:hover{
  background: lightgray;
}

.option p {
  font-size: 30px;
}

.stats {
  margin-top: 20px;
}

.stats p {
  margin: 5px;
}

@media (max-width: 768px) {
  .title {
    font-size: xx-large;
    padding: 10px;
    width: 50%;
  }

  .welcome {
    font-size: medium;
    width: 70%;
  }

  .container {
    width: 100%;
    flex-direction: column;
  }

  .option{
    width: 40%;
  }

}
