<p class="title">Hiragana</p>
<p class="welcome">
  Welcome to the Hiragana section of NihonGo! Hiragana is one of the fundamental writing systems in Japanese, consisting of 46 phonetic characters.
  It is essential for reading and writing everyday words and expressions. Whether you're starting from scratch or need a refresher, this page is here to guide you through mastering Hiragana.
  Take a closer look at our Hiragana chart to familiarize yourself with each character's shape and pronunciation.
  To put your knowledge to the test, challenge yourself with our interactive Hiragana quiz.
  Start your Hiragana learning journey now and unlock the key to reading and writing in Japanese!</p>

<div class="container">
  <div class="center">
    <button (click)="navigateToHiraganaChart()">Hiragana chart</button>
  </div>
  <div class="center">
    <button (click)="navigateToHiraganaQuiz()">Hiragana quiz</button>
  </div>
</div>

