<h1 class="title">Your AI curated course</h1>
<p class="welcome">Welcome to our AI-generated Japanese course tailored just for you based on your proficiency test
  result. Whether you're a beginner eager to grasp the basics of Hiragana and Katakana, an intermediate learner striving
  to master grammar structures and vocabulary, or an advanced student honing your fluency in conversation and
  comprehension, this course is designed to meet your needs and guide you on your journey to proficiency in the
  beautiful language of Japan. Get ready to immerse yourself in an interactive and engaging learning experience that
  will expand your linguistic horizons and deepen your cultural understanding.</p>

<div class="container">
  <div class="center">
    <button (click)="navigateToGrammarLesson()">Practice Grammar</button>
  </div>
  <div class="center">
    <button (click)="navigateToVocabularyLesson()">Practice Vocabulary</button>
  </div>
  <div class="center">
    <button (click)="navigateToReadingLesson()">Practice Reading</button>
  </div>
</div>


