.title{
  margin: 20px auto;
  width: 35%;
  padding: 5% 10px 10px;
  text-align: center;
  font-size: xxx-large;
}

.welcome{
  margin: auto;
  width: 40%;
  padding: 10px;
  text-align: justify;
  font-size: large;
}

.container {
  margin: auto;
  width: 30%;
  display: flex;
  height: 200px;
  position: relative;
  /*border: 3px solid gray;*/
}

.center {
  margin: auto;
}

.all{
  margin-top: 20px;
}

@media (max-width: 768px) {
  .title {
    font-size: xx-large;
    padding: 10px;
    width: 50%;
  }

  .welcome {
    font-size: medium;
    width: 70%;
  }

  .container {
    width: 100%;
    flex-direction: column;
  }

}

button{
  padding: 20px;
}

.all{
  background: rgba(255, 255, 255, 0.8);
  width: 80%;
  border-radius: 14px;
  margin-left: 10%;
}
