  <p class="title">NihonGo</p>
  <p class="welcome"> Welcome to NihonGo, your comprehensive guide to learning Japanese!
    Whether you're a complete beginner or looking to brush up on your language skills,
    this website is designed to help you embark on an exciting journey into the world of Japanese language and culture.
    With a rich history and a unique writing system, Japanese offers a fascinating and rewarding learning experience.
    Explore our carefully curated lessons, interactive exercises, and cultural insights to develop your speaking, listening, reading, and writing abilities.
    Get ready to unlock the doors to a new language and immerse yourself in the beauty of Japanese!</p>

  <div class="container">
    <div class="center">
      <button (click)="navigateToHiragana()">Learn Hiragana</button>
    </div>
    <div class="center">
      <button (click)="navigateToKatakana()">Learn Katakana</button>
    </div>
    <div class="center">
      <button (click)="navigateToVocab()">Vocabulary and Phrases</button>
    </div>
  </div>
